---
######################################
# SUBCHART: helper-operator
# Operators that shall be installed.
######################################
helper-operator:
  operators:
    cluster-observability-operator:
      enabled: true
      namespace:
        name: openshift-cluster-observability-operator
        create: true
      subscription:
        channel: stable
        approval: Automatic
        operatorName: cluster-observability-operator
        source: redhat-operators
        sourceNamespace: openshift-marketplace
      operatorgroup:
        create: true
        notownnamespace: true

########################################
# SUBCHART: helper-status-checker
# Verify the status of a given operator.
########################################
helper-status-checker:
  enabled: true
  approver: false

  checks:
    - operatorName: cluster-observability-operator
      subscriptionName: cluster-observability-operator
      sleeptimer: 20
      maxretries: 20
      namespace:
        name: openshift-cluster-observability-operator
      syncwave: 1
      serviceAccount:
        name: "status-checker-coo"
