---
tempo: &channel-tempo stable
tempo-namespace: &tempo-namespace openshift-tempo-operator
bucketname: &bucketname tempo-bucket
tempo-secret: &tempo-secret-name tempo-s3
storageclassname: &storageclassname tempo-bucket-storage-class
tempostack-namespace: &tempostack-namespace tempostack

tempo-tracing:
  tempostack:
    enabled: true
    name: simplest

    managementState: Managed

    namespace:
      create: true
      name: *tempostack-namespace
      descr: "Namespace for the TempoStack"
      display: "TempoStack"
      additionalAnnotations: {}
      additionalLabels: {}

    storage:
      secret:
        name: tempo-s3
        type: s3
        credentialMode: static

    storageSize: 500Gi
    replicationFactor: 1
    serviceAccount: tempo-simplest

    tenants:
      mode: openshift
      enabled: true

      authentication:
        - tenantName: 'dev'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfa'
          permissions:
            - read
            - write

        - tenantName: 'prod'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfb'
          permissions:
            - write
            - read

        - tenantName: 'tenantA'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfc'
          permissions:
            - write
            - read

        - tenantName: 'tenantB'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfd'
          permissions:
            - write
            - read

        - tenantName: 'tenantC'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfe'
          permissions:
            - write
            - read

        - tenantName: 'tenantD'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbff'
          permissions:
            - write
            - read

        - tenantName: 'tenantX'
          tenantId: '1610b0c3-c509-4592-a256-a1871353dbfd'
          permissions:
            - write
            - read

    observability:
      enabled: true

      tracing:
        jaeger_agent_endpoint: 'localhost:6831'
        otlp_http_endpoint: 'http://localhost:4320'

    template:
      gateway:
        enabled: true
        rbac: false

        ingress:
          type: 'route'
          termination: 'reencrypt'
        component:
          replicas: 1

      queryFrontend:
        jaegerQuery:
          enabled: true
        component:
          replicas: 1


######################################
# SUBCHART: helper-operator
# Operators that shall be installed.
######################################
helper-operator:
  operators:
    tempo-operator:
      enabled: true
      namespace:
        name: *tempo-namespace
        create: true
      subscription:
        channel: *channel-tempo
        approval: Automatic
        operatorName: tempo-product
        source: redhat-operators
        sourceNamespace: openshift-marketplace
      operatorgroup:
        create: true
        notownnamespace: true

########################################
# SUBCHART: helper-status-checker
# Verify the status of a given operator.
########################################
helper-status-checker:
  enabled: true

  approver: false

  checks:
    - operatorName: tempo-operator
      namespace:
        name: *tempo-namespace
      syncwave: 1

      serviceAccount:
        name: "status-checker-tempo"

########################################
# SUBCHART: helper-objectstore

# A helper chart that simply creates another backingstore for logging.
# This is a chart in a very early state, and not everything can be customized for now.
# It will create the objects:
#  - BackingStore
#  - BackingClass
#  - StorageClass

# NOTE: Currently only PV type is supported
########################################
helper-objectstore:

  # -- Enable objectstore configuration
  # @default -- false
  enabled: true

  # -- Syncwave for Argo CD
  # @default - 1
  syncwave: 1

  # -- Name of the BackingStore
  backingstore_name: tempo-backingstore

  # -- Size of the BackingStore that each volume shall have.
  backingstore_size: 400Gi

  # -- CPU Limit for the Noobaa Pod
  # @default -- 500m
  limits_cpu: 500m

  # -- Memory Limit for the Noobaa Pod.
  # @default -- 2Gi
  limits_memory: 2Gi

  pvPool:
    # -- Number of volumes that shall be used
    # @default -- 1
    numOfVolumes: 1

    # Type of BackingStore. Currently pv-pool is the only one supported by this Helm Chart.
    # @default -- pv-pool
    type: pv-pool

  # -- The StorageClass the BackingStore is based on
  baseStorageClass: gp3-csi

  # -- Name of the StorageClass that shall be created for the bucket.
  storageclass_name: *storageclassname

  # Bucket that shall be created
  bucket:
    # -- Shall a new bucket be enabled?
    # @default -- false
    enabled: true

    # -- Name of the bucket that shall be created
    name: *bucketname

    # -- Target Namespace for that bucket.
    namespace: *tempo-namespace

    # -- Syncwave for bucketclaim creation. This should be done very early, but it depends on ODF.
    # @default -- 2
    syncwave: 2

    # -- Name of the storageclass for our bucket
    # @default -- openshift-storage.noobaa.io
    storageclass: *storageclassname


##############################################
# SUBCHART: helper-odf-bucket-secret
# Creates a Secret that Tempo requires
#
# A Kubernetes Job is created, that reads the
# data from the Secret and ConfigMap and
# creates a new secret for Tempo.
##############################################
helper-odf-bucket-secret:
  # -- Enable Job to create a Secret for TempoStack.
  # @default -- false
  enabled: true

  # -- Syncwave for Argo CD.
  # @default -- 3
  syncwave: 3

  # -- Namespace where TempoStack is deployed and where the Secret shall be created.
  namespace: *tempo-namespace

  # -- Name of Secret that shall be created.
  secretname: *tempo-secret-name

  # Bucket Configuration
  bucket:
    # -- Name of the Bucket shall has been created.
    name: *bucketname

  # -- Keys that shall be used to create the Secret.
  keys:
    # -- Overwrite access_key_id key.
    # @default -- access_key_id
    access_key_id: access_key_id
    # -- Overwrite access_key_secret key.
    # @default -- access_key_secret
    access_key_secret: access_key_secret
    # -- Overwrite bucket key.
    # @default -- bucket
    bucket: bucket
    # -- Overwrite endpoint key.
    # @default -- endpoint
    endpoint: endpoint
    # -- Overwrite region key. Region is only set if set_region is true.
    # @default -- region
    region: region
  
  # -- Set region key.
  # @default -- false
  set_region: false