{{ template "doc.header" . }}

This chart shall install the Crunchy Data Porgres Operator and configure a Postgres Cluster resource. 

It is currently in a DRAFT state.

{{ template "doc.deps" . }}

{{ template "doc.maintainer_and_sources" . }}


## Example values files

```yaml
---

```

{{ template "doc.footer" . }}
