---
hostname: &hostname gitops.apps.prod.ocp.cluster

openshift-gitops:
  gitopsinstances:
    gitops_application:
      enabled: true
      namespace: gitops-application
      clusterAdmin: enabled

      server:
        host: *hostname
        route: 
          enabled: true

      generic_config:
        disableAdmin: true
        resourceTrackingMethod: annotation
        kustomizeBuildOptions: "--enable-helm"

      controller: {}
      ha: {}
      redis: {}
      repo: {}
      appset: {}
      sso:
        dex:
          openShiftOAuth: true

      rbac:
        defaultRole: 'role:none'

        policy: |-
            # Access Control
            g, system:cluster-admins, role:admin
            g, cluster-admin, role:admin
            p, role:none, applications, get, */*, deny
            p, role:none, certificates, get, *, deny
            p, role:none, clusters, get, *, deny
            p, role:none, repositories, get, *, deny
            p, role:none, projects, get, *, deny
            p, role:none, accounts, get, *, deny
            p, role:none, gpgkeys, get, *, deny
        scopes: '[groups]'

      resourceExclusions: |-
        # resources to be excluded
        - apiGroups:
          - tekton.dev
          clusters:
          - '*'
          kinds:
          - TaskRun
          - PipelineRun

      # This will create some default health checks I usually add.
      # * ClusterLogging, * Application (Argo CD), * Lokistack, * Subcription, * Central (ACS), InstallPlan
      # @default -- false
      default_resourceHealthChecks: true
