# see full example at ../my-main-app

# Environment to which these values are valid, this should be the cluster name as defined in the values-global.yaml
# In best case the same is equal to the folder we are currntly in, but this is optional.
environment: &environment in-cluster

# Parameters handed over to Sub-Chart helper-proj-onboarding
helper-proj-onboarding:

  environment: *environment

  # List of namespaces this tenant shall manage.
  # A tenant or project may consist of multiple namespace
  namespaces:

    # Name of the first Namespace
    - name: &name tenant3-app-1

      # Is this Namespace enabled or not
      enabled: true

      # Disable AppProject creation. This is required, when a central Argo CD instance is used, instead of 
      # an instance on each and every cluster.
      approject_disabled: true

      project_size: "S"

      # Override specific quota settings individually
      resourceQuotas:
        limits:
          cpu: 10

      # Create a local Group with Admin users and the required rolebinding
      # If other systems, like LDAP Group sync is used, you will probaably not need this and can either disable it or remove the whole block.
      local_admin_group:
        enabled: true
        users:
          - mona
