---
override-rhacm-operator-version: &rhacmversion release-2.8

# local settings
# This will enable the GitOps integration with ACM
gitops:
  enabled: false

  integration:
    - namespace: openshift-gitops
      syncwave: 10
      clusterSet: default
      gitopsCluster: local-cluster

# Two objects will be created: KlusterletAddonConfig and ManagedCluster
# This will prepare the import to ACM. You still need to execute the command to fully integrate it.
rhacm:
  importClusters:
    enabled: false

    # syncwaves
    # Default: 3
    managed_cluster_syncwave: '3'
    # Default: 5
    klusterlet_addon_syncwave: '5'

    # List of clusters
    clusters:
    - name: my-cluster
      clusterSet: default

# Install Operator RHACM
# Deploys Operator --> Subscription and Operatorgroup
# Syncwave: 0
helper-operator:
  operators:
    advanced-cluster-management:
      enabled: true
      syncwave: '0'
      namespace:
        name: open-cluster-management
        create: true
      subscription:
        channel: *rhacmversion
        approval: Manual
        operatorName: advanced-cluster-management
        source: redhat-operators
        sourceNamespace: openshift-marketplace
      operatorgroup:
        create: true
        notownnamespace: false

helper-status-checker:
  enabled: true
  approver: true

  checks:
    - operatorName: advanced-cluster-management
      namespace:
        name: open-cluster-management
      serviceAccount:
        name: "status-checker-acm"

rhacm-setup:
  rhacm:
    # Namespace
    # Should be installed in open-cluster-management (default)
    namespace:
      name: open-cluster-management
    multiclusterhub:
      enabled: true
      syncwave: '3'

      # Specifies deployment replication for improved availability. Options are: Basic and High
      # Default: Basic
      availabilityConfig: High

      # If you want this component to only run on specific nodes, you can
      # configure tolerations of tainted nodes.
      # tolerations:
      #  - effect: NoSchedule
      #    key: infra
      #    operator: Equal
      #    value: reserved
