name: Linting

on: 
  push:
    branches: 
      - main
  pull_request:
    paths-ignore:
      - '.github/**'
      - 'README.md'

jobs:
  ct-lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@e6669bcd63d7cb57cb4380c33043eebe5d111992 # v2.6.1

      - name: Run chart-testing (lint)
        run: |
          #!/usr/bin/env bash
            for charts in `find . -name 'Chart.yaml' -type f | xargs -I{} dirname {}`; do
              printf "\n\n##### CHECKING $charts #####\n";
              ct lint --charts $charts;
            done

  lint-test:
    runs-on: ubuntu-latest
    container:
            image: quay.io/tjungbau/linter-image:v1.0.2@sha256:c0bb67983d796c9004edf6a28fa580cb94fa030e5f0fbb05193c2b8b74fb715e
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
         
      - name: Run helm lint on found Charts
        run: |
          #!/usr/bin/env bash

          for charts in $(find . -name 'Chart.yaml'); do
            helm_dir=$(dirname "${charts}")
            echo "Checking $helm_dir"
            echo "Trying to find in-cluster-values.yaml files"
            add_val_files=$(find $helm_dir -type f -name in-cluster-values.yaml)
            if [ -z "$add_val_files" ]; then
                echo "No additional files found"
                values=""
            else
                echo "Additional file found $add_val_files"
                values="-f $add_val_files"
            fi

            helm dep up "${helm_dir}"
            helm lint --strict $values "${helm_dir}"
            echo "Done"
          done

      - name: Run yamllint on all values-files
        id: yamllint_test
        run: |
          get_files=$(find . -type f -name '*values.yaml')
          yamllint -f standard -c .yamllint.yaml $get_files 

          echo "Done checking with yamllint"
