name: Linting

on: 
  push:
    branches: 
      - main
  pull_request:
    paths-ignore:
      - '.github/**'
      - 'README.md'

jobs:
  ct-lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: 3.14

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
        run: |
          #!/usr/bin/env bash
            for charts in `find . -name 'Chart.yaml' -type f | xargs -I{} dirname {}`; do
              printf "\n\n##### CHECKING $charts #####\n";
              ct lint --charts $charts;
            done

  lint-test:
    runs-on: ubuntu-latest
    container:
            image: quay.io/tjungbau/linter-image:v1.0.2@sha256:c0bb67983d796c9004edf6a28fa580cb94fa030e5f0fbb05193c2b8b74fb715e
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
         
      - name: Run helm lint on found Charts
        run: |
          #!/usr/bin/env bash

          for charts in $(find . -name 'Chart.yaml'); do
            helm_dir=$(dirname "${charts}")
            echo "Checking $helm_dir"
            echo "Trying to find in-cluster-values.yaml files"
            add_val_files=$(find $helm_dir -type f -name in-cluster-values.yaml)
            if [ -z "$add_val_files" ]; then
                echo "No additional files found"
                values=""
            else
                echo "Additional file found $add_val_files"
                values="-f $add_val_files"
            fi

            helm dep up "${helm_dir}"
            helm lint --strict $values "${helm_dir}"
            echo "Done"
          done

      - name: Run yamllint on all values-files
        id: yamllint_test
        run: |
          get_files=$(find . -type f -name '*values.yaml')
          yamllint -f standard -c .yamllint.yaml $get_files 

          echo "Done checking with yamllint"
